@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #E63946;
  /* Both Light and Dark variables now point to Black */
  --color-dark: #000000;
  --color-light: #000000; 
}

/* GLOBAL STYLES */
body {
  /* Enforce Black Background & White Text Permanently */
  @apply bg-black text-white;
  background-color: #000000;
}

/* Even if a 'light' class sneaks in, we force black */
.light body {
  @apply bg-black text-white;
}

::-webkit-scrollbar {
  display: none;
}

html, body, #root {
  background-color: #000000;
  width: 100%;
  height: 100%;
  -ms-overflow-style: none;  
  scrollbar-width: none;  
}

* {
  border-color: #27272a; /* Force dark borders (Zinc-800) */
  -ms-overflow-style: none;
  scrollbar-width: none;
}